<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=${hibernate.dialect}
				<!-- bguo don't update schema automatically:
					hibernate.hbm2ddl.auto=update
				-->
				hibernate.query.substitutions=true 'Y', false 'N'
				hibernate.show_sql=${hibernate.show_sql}
				hibernate.cache.use_second_level_cache=true
				hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
				hibernate.query.factory_class=org.hibernate.hql.ast.ASTQueryTranslatorFactory
			</value>
			<!-- Turn batching off for better error messages under PostgreSQL -->
			<!-- hibernate.jdbc.batch_size=0 -->
		</property>
	</bean>

	<!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- UniversalDao - can be used when doing standard CRUD - made available 
		for those who don't mind casting.  If you don't want to cast, look at 
		'fooDao' below. -->
	<bean id="universalDao"
		class="bin.g11n.gt.dao.impl.common.UniversalDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- LookupDao - can be used when doing standard CRUD -->
	<bean id="lookupDao"
		class="bin.g11n.gt.dao.impl.common.LookupDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- UserDao: Hibernate implementation -->
	<bean id="userDao"
		class="bin.g11n.gt.dao.impl.common.UserDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- RoleDao: Hibernate implementation -->
	<bean id="roleDao"
		class="bin.g11n.gt.dao.impl.common.RoleDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="functionDao"
		class="bin.g11n.gt.dao.impl.common.FunctionDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- BaseDao: Hibernate implementation -->
	<bean id="baseDao"
		class="bin.g11n.gt.dao.impl.common.BaseDaoImlp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- add application dao definination here -->
	
	<!-- BuDao: Hibernate implementation  -->
	<bean id="buDao"
		class="bin.g11n.gt.dao.impl.app.BuDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
    <!-- ProductDao: Hibernate implementation  -->
    <bean id="productDao"
        class="bin.g11n.gt.dao.impl.app.ProductDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <!-- ProductCenterDao: Hibernate implementation  -->
    <bean id="productCenterDao"
        class="bin.g11n.gt.dao.impl.app.ProductCenterDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    
</beans>