#macro( displayCssMenu $menu )
  #if ($displayer.isAllowed($menu))
    ## set menu title
    #set ($title = $displayer.getMessage($menu.title))

    #if (!$menu.url) #set ($url="javascript:void(0)") #else #set ($url=$menu.url) #end

    ## create a single menu item
        #if ($velocityCount == $menu.parent.components.size())
          <li class="last">
        #else
          <li>
        #end
        #if ($menu.name == $currentMenu)
          <a href="$url" title="$title" class="current" #if($menu.target)target="$menu.target"#end>${title}</a>
        #else
          <a href="$url" title="$title" #if($menu.onclick)onclick="$menu.onclick" #end #if($menu.target)target="$menu.target"#end>${title}</a>
        #end

      </li>
  #end
#end

#displayCssMenu($menu)